# {{ ansible_managed }}

{% for param in grub__all %}
{%  if (param | type_debug) == 'dict' and 'name' in param %}
{%      set paramName = (grub__entry_prefix | upper) ~ (param.name | upper) %}
{%      if 'value' in param %}
{%          if (param.value | type_debug) == 'list' %}
{%              set inheritCmdlineDefault = param.name | lower == 'cmdline_linux_default' and grub__inherit_cmdline_default | bool %}
{%              set inheritCmdline = param.name | lower == 'cmdline_linux' and grub__inherit_cmdline | bool %}
{%              if inheritCmdlineDefault or inheritCmdline %}
{%                  set paramValPrefix = '$' ~ paramName ~ ' ' %}
{%              else %}
{%                  set paramValPrefix = '' %}
{%              endif %}
{{ paramName }}="{{ paramValPrefix }}{{ param.value | aybarsm.helper.to_querystring('name', 'value', '=', ' ') }}"
{%          else %}
{{ paramName }}="{{ param.value }}"
{%          endif %}
{%      else %}
{{ paramName }}=""
{%      endif %}
{%  endif %}
{% endfor %}